fastapi[all]
uvicorn[standard]
jinja2
sqlalchemy
psycopg2-binary
fasttext-wheel
pandas
transformers<=4.49
pgvector
torch
sentence_transformers
keybert
hdbscan
redis
matplotlib
plotly
jupyter
seaborn
samplics