<ul class="nav nav-pills" id="mainTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="emotions-tab" data-bs-toggle="tab" data-bs-target="#emotionsTabPane" type="button" role="tab">Emotions</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="aggressiveness-tab" data-bs-toggle="tab" data-bs-target="#aggressivenessTabPane" type="button" role="tab">Aggressiveness</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="aggressive-keywords-list-tab" data-bs-toggle="tab" data-bs-target="#aggressiveKeywordsListTabPane" type="button" role="tab">Aggressive Keywords</button>
    </li>
</ul>
