.chart-flex-container {
    display: flex;
    flex-wrap: wrap;  /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: flex-start; /* Aligns items to the start of the flex container */

    .chart {
        flex-basis: 33%; /* Each chart will take up roughly 30% of the flex container's width */
        height: 400px; /* Fixed height, adjust as needed */

        /* Fix for overflow issue when one-column layout is loaded and user switches to multi-column */
        min-width: 0;
        max-width: 100%;
        box-sizing: border-box;

        &.chart-title {
            height: 50px; /* Fixed height, adjust as needed */
            text-align: center;
            font-size: 1.5em;
        }
    }

    &.show-lv-charts,
    &.show-ru-charts,
    &.show-totals-charts {
        .chart {
            flex-basis: 100%;
            display: none;

            &.chart-title {
                display: none;
            }
        }

        &.compact-layout {
            .chart {
                flex-basis: 50%;
            }
        }
    }

    &.show-lv-charts {
        .chart.lv-chart {
            display: block;
        }
    }

    &.show-ru-charts {
        .chart.ru-chart {
            display: block;
        }
    }

    &.show-totals-charts {
        .chart.totals-chart {
            display: block;
        }
    }
}

.tabulator-table {
    resize: both;
    overflow: hidden;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    /* column on mobile, row on desktop */
    @media (min-width: 1200px) {
        flex-direction: row;
    }
}

.comment-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 1200px) {
        max-width: 70%;

        #predictedCommentsTable {
            width: 95%;
        }
    }
}

.keyword-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;

    @media (min-width: 1200px) {
        max-width: 30%;
    }
}